STRINGTABLE
LANGUAGE 0x19,0х01
{
7100, "OK"
7101, "Отмена"
7102, "Справка"

7001, "Поток не создан"
8001, "Операция прервана пользователем"

9001, "Авторизация %s (%s:%d)"
9002, "Загрузка иерархии %s (%s:%d)"
9003, "Загрузка справочников %s (%s:%d)"

9010, "Авторизация %s"
9011, "Пользователь"
9012, "Пароль"
9013, "С&мена пароля..."

9020, "Смена пароля"
9021, "Пользователь"
9022, "Старый пароль"
9023, "Новый пароль"
9024, "Подтверждение"

9030, "Введенные пароли не совпадают. Введите в оба поля один и тот же пароль."
9031, "Пароль успешно изменен"
9032, "Не удалось изменить пароль: %s"


9100, "Сегодня"
9101, "Вчера"
9102, "С начала недели"
9103, "Прошлая неделя"
9104, "С начала месяца"
9105, "Прошлый месяц"
9106, "Завтра"
9107, "Следующая неделя"
9108, "Следующие 12 часов"
9109, "Следующий день"
9110, "последние %s ч."
9111, "последние %s д."
9112, "Этот год"
9113, "Прошлый год"


9120, "часов"
9121, "дней"



9150, "за последние"
9151, "за день"
9152, "за месяц"
9153, "за период"

9160, "С"
9161, "по"

9162, "Период"

9180, "Период"

10000, "Доступна новая версия программы: %d. Установить?"
10001, "Нет доступных обновлений"
10002, "Не удалось загрузить новую версия программы."
10003, "Инсталятор успешно загружен в %sЗапустить его?"
10004, "Скачивание... %s"

}

